@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

/* left side */
.left {
    width: 50%;
    background: #E5EEFF;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.paw-pattern {
    position: absolute;
    inset: 0;
    background-image: url("../images/authentication/pawprints.png");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

.left-content {
    position: relative;
    color: #222222;
    padding: 80px 70px;
    padding-top: 80px;
}

.left-content h1 {
    font-size: 72px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: 400;
}

.left-content p {
	padding-top: 30px;
    font-size: 22px;
    line-height: 1.5;
}
/* Dog Image */
.dog-image {
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 3;
}

/* right side */
.right {
    width: 50%;
    background: #FDF8F0;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.top-bar span {
    font-size: 15px;
    color: #222222;
}

.login-btn {
    padding: 8px 20px;
    background: transparent;
    border: 2px solid #008080;
    color: #008080;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    background: #008080;
    color: white;
}

/* form */
.form-container {
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
}

.form-container h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #222222;
}

/* image upload */
.profile-upload {
    margin-bottom: 20px;
}

.profile-circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #008080;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
}

.profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* from feilds */
input {
    width: 100%;
    padding: 14px 18px;
    margin-bottom: 22px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 15px;
    background: white;
}

.row-group {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}
.row-group select {
    flex: 1;
    padding: 14px 18px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 15px;
    background: white;
    color: #757575;
}

/* sign up */
.signup-btn {
    width: 100%;
    padding: 14px;
    background: #008080;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}


/* tnc */
.terms {
    margin-top: 25px;
    font-size: 13px;
    color: #222222;
}

.terms a {
    color: #008080;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}